.css-znbo4h {
    background:transparent;
}
.css-1qjhlci h1,.css-1qjhlci h2,.css-1qjhlci h3,.css-1qjhlci h4,.css-1qjhlci h5,.css-1qjhlci h6 {
    color:#b40600;
}
.css-1c375l0 .hugeTitleFontSize h1:not(.customScale) {
    font-size:64px !important;
}
.css-1c375l0 h1:not(.customScale){
   font-size:48px !important;
}
.css-1c375l0 h2:not(.customScale), .css-1c375l0 .smallTitleFontSize h1, [data-css-1c375l0] .smallTitleFontSize h1, .css-1c375l0 h1.smallTitleFontSize, [data-css-1c375l0] h1.smallTitleFontSize{
   font-size:36px !important;
}
.css-1c375l0 h3:not(.customScale), .css-1c375l0 h4:not(.customScale), [data-css-1c375l0] h4:not(.customScale), .css-1c375l0 h5:not(.customScale), [data-css-1c375l0] h5:not(.customScale), .css-1c375l0 h6:not(.customScale), [data-css-1c375l0] h6:not(.customScale){
   font-size:24px !important;
}
.css-1c375l0 li:not(.customScale){
   font-size:18px !important;
}
.css-1c375l0 p:not(.customScale){
   font-size:18px !important;
}
.css-1c375l0 .customScale p, .css-1c375l0 .customScale h1, [data-css-1c375l0] .customScale h1, .css-1c375l0 .customScale h2, [data-css-1c375l0] .customScale h2, .css-1c375l0 .customScale h3, [data-css-1c375l0] .customScale h3, .css-1c375l0 .customScale h4, [data-css-1c375l0] .customScale h4, .css-1c375l0 .customScale h5, [data-css-1c375l0] .customScale h5, .css-1c375l0 .customScale h6, [data-css-1c375l0] .customScale h6{
   font-size:inherit !important;
}
@media only screen and (max-width: 1280px){
   .css-1c375l0 h1:not(.customScale){
       font-size:36px !important;
   }
   .css-1c375l0 h2:not(.customScale), .css-1c375l0 .smallTitleFontSize h1, [data-css-1c375l0] .smallTitleFontSize h1, .css-1c375l0 h1.smallTitleFontSize, [data-css-1c375l0] h1.smallTitleFontSize{
       font-size:24px !important;
   }
   .css-1c375l0 h3:not(.customScale), .css-1c375l0 h4:not(.customScale), [data-css-1c375l0] h4:not(.customScale), .css-1c375l0 h5:not(.customScale), [data-css-1c375l0] h5:not(.customScale), .css-1c375l0 h6:not(.customScale), [data-css-1c375l0] h6:not(.customScale){
       font-size:18px !important;
   }
   .css-1c375l0 p:not(.customScale){
       font-size:16px !important;
   }
   .css-1c375l0 li:not(.customScale){
       font-size:16px !important;
   }
   .css-1c375l0 .customScale p, .css-1c375l0 .customScale li, [data-css-1c375l0] .customScale li, .css-1c375l0 .customScale h1, [data-css-1c375l0] .customScale h1, .css-1c375l0 .customScale h2, [data-css-1c375l0] .customScale h2, .css-1c375l0 .customScale h3, [data-css-1c375l0] .customScale h3, .css-1c375l0 .customScale h4, [data-css-1c375l0] .customScale h4, .css-1c375l0 .customScale h5, [data-css-1c375l0] .customScale h5, .css-1c375l0 .customScale h6, [data-css-1c375l0] .customScale h6{
       font-size:inherit !important;
   }
}
@media only screen and (max-width: 800px){
   .css-1c375l0 .hugeTitleFontSize h1:not(.customScale){
       font-size:40px !important;
   }
}
.css-1ajbxx1{
   background-color:#faebb9;
}
.css-1dx5wtp{
   min-height:calc(100vh - 0px);
}
.css-orfcbv{
   background-color:#b40600 !important;
   border-radius:5px !important;
}
.css-1wta0f{
   border-color:transparent !important;
}
.css-upn2nw:hover{
   color:#b40600 !important;
}
.css-9s1hn{
   background-color:#FFFFFF;
}
.css-1yux1ud h1,.css-1yux1ud h2,.css-1yux1ud h3,.css-1yux1ud h4,.css-1yux1ud h5,.css-1yux1ud h6{
   color:#666666;
}
.css-1e0ah2v:hover{
   color:#666666 !important;
}
.css-1qojgsk{
   background-color:#7ac8b6;
}
.css-1fnmwxk{
   background-color:#000000 !important;
   border-radius:5px !important;
}
.css-2vo0gs h1,.css-2vo0gs h2,.css-2vo0gs h3,.css-2vo0gs h4,.css-2vo0gs h5,.css-2vo0gs h6{
   color:#4B4C51;
}
.css-1l0ooo4{
   background-color:#4B4C51 !important;
   border-radius:0 !important;
}
.css-hhha73{
   background-color:#4B4C51;
}
.css-1qaclqs .hugeTitleFontSize h1:not(.customScale){
   font-size:72px !important;
}
.css-1qaclqs h1:not(.customScale){
   font-size:56px !important;
}
.css-1qaclqs h2:not(.customScale), .css-1qaclqs .smallTitleFontSize h1, [data-css-1qaclqs] .smallTitleFontSize h1, .css-1qaclqs h1.smallTitleFontSize, [data-css-1qaclqs] h1.smallTitleFontSize{
   font-size:44px !important;
}
.css-1qaclqs h3:not(.customScale), .css-1qaclqs h4:not(.customScale), [data-css-1qaclqs] h4:not(.customScale), .css-1qaclqs h5:not(.customScale), [data-css-1qaclqs] h5:not(.customScale), .css-1qaclqs h6:not(.customScale), [data-css-1qaclqs] h6:not(.customScale){
   font-size:32px !important;
}
.css-1qaclqs li:not(.customScale){
   font-size:20px !important;
}
.css-1qaclqs p:not(.customScale){
   font-size:20px !important;
}
.css-1qaclqs .customScale p, .css-1qaclqs .customScale h1, [data-css-1qaclqs] .customScale h1, .css-1qaclqs .customScale h2, [data-css-1qaclqs] .customScale h2, .css-1qaclqs .customScale h3, [data-css-1qaclqs] .customScale h3, .css-1qaclqs .customScale h4, [data-css-1qaclqs] .customScale h4, .css-1qaclqs .customScale h5, [data-css-1qaclqs] .customScale h5, .css-1qaclqs .customScale h6, [data-css-1qaclqs] .customScale h6{
   font-size:inherit !important;
}
@media only screen and (max-width: 1280px){
   .css-1qaclqs h1:not(.customScale){
       font-size:40px !important;
   }
   .css-1qaclqs h2:not(.customScale), .css-1qaclqs .smallTitleFontSize h1, [data-css-1qaclqs] .smallTitleFontSize h1, .css-1qaclqs h1.smallTitleFontSize, [data-css-1qaclqs] h1.smallTitleFontSize{
       font-size:28px !important;
   }
   .css-1qaclqs h3:not(.customScale), .css-1qaclqs h4:not(.customScale), [data-css-1qaclqs] h4:not(.customScale), .css-1qaclqs h5:not(.customScale), [data-css-1qaclqs] h5:not(.customScale), .css-1qaclqs h6:not(.customScale), [data-css-1qaclqs] h6:not(.customScale){
       font-size:22px !important;
   }
   .css-1qaclqs p:not(.customScale){
       font-size:18px !important;
   }
   .css-1qaclqs li:not(.customScale){
       font-size:18px !important;
   }
   .css-1qaclqs .customScale p, .css-1qaclqs .customScale li, [data-css-1qaclqs] .customScale li, .css-1qaclqs .customScale h1, [data-css-1qaclqs] .customScale h1, .css-1qaclqs .customScale h2, [data-css-1qaclqs] .customScale h2, .css-1qaclqs .customScale h3, [data-css-1qaclqs] .customScale h3, .css-1qaclqs .customScale h4, [data-css-1qaclqs] .customScale h4, .css-1qaclqs .customScale h5, [data-css-1qaclqs] .customScale h5, .css-1qaclqs .customScale h6, [data-css-1qaclqs] .customScale h6{
       font-size:inherit !important;
   }
}
@media only screen and (max-width: 800px){
   .css-1qaclqs .hugeTitleFontSize h1:not(.customScale){
       font-size:44px !important;
   }
}
.css-1le1gcx{
   background-color:#000000 !important;
   border-radius:25px !important;
}
.css-1p92t1z{
   background-color:#7bbff9;
}
.css-1uaq1o9{
   background-color:#005aa8;
}
.css-xi3bv8{
   background-color:#FFFFFF !important;
   border-radius:5px !important;
}
.css-p78rj{
   background-color:rgba(0, 90, 168, 0.5939525516401385);
}
.css-1jyyyen{
   opacity:0;
}
.css-zyohib{
   background-color:#538bbb;
}
.css-gpurr0{
   color:#fff;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-176x8fc .hugeTitleFontSize h1:not(.customScale){
   font-size:80px !important;
}
.css-176x8fc h1:not(.customScale){
   font-size:64px !important;
}
.css-176x8fc h2:not(.customScale), .css-176x8fc .smallTitleFontSize h1, [data-css-176x8fc] .smallTitleFontSize h1, .css-176x8fc h1.smallTitleFontSize, [data-css-176x8fc] h1.smallTitleFontSize{
   font-size:52px !important;
}
.css-176x8fc h3:not(.customScale), .css-176x8fc h4:not(.customScale), [data-css-176x8fc] h4:not(.customScale), .css-176x8fc h5:not(.customScale), [data-css-176x8fc] h5:not(.customScale), .css-176x8fc h6:not(.customScale), [data-css-176x8fc] h6:not(.customScale){
   font-size:40px !important;
}
.css-176x8fc li:not(.customScale){
   font-size:22px !important;
}
.css-176x8fc p:not(.customScale){
   font-size:22px !important;
}
.css-176x8fc .customScale p, .css-176x8fc .customScale h1, [data-css-176x8fc] .customScale h1, .css-176x8fc .customScale h2, [data-css-176x8fc] .customScale h2, .css-176x8fc .customScale h3, [data-css-176x8fc] .customScale h3, .css-176x8fc .customScale h4, [data-css-176x8fc] .customScale h4, .css-176x8fc .customScale h5, [data-css-176x8fc] .customScale h5, .css-176x8fc .customScale h6, [data-css-176x8fc] .customScale h6{
   font-size:inherit !important;
}
@media only screen and (max-width: 1280px){
   .css-176x8fc h1:not(.customScale){
       font-size:44px !important;
   }
   .css-176x8fc h2:not(.customScale), .css-176x8fc .smallTitleFontSize h1, [data-css-176x8fc] .smallTitleFontSize h1, .css-176x8fc h1.smallTitleFontSize, [data-css-176x8fc] h1.smallTitleFontSize{
       font-size:32px !important;
   }
   .css-176x8fc h3:not(.customScale), .css-176x8fc h4:not(.customScale), [data-css-176x8fc] h4:not(.customScale), .css-176x8fc h5:not(.customScale), [data-css-176x8fc] h5:not(.customScale), .css-176x8fc h6:not(.customScale), [data-css-176x8fc] h6:not(.customScale){
       font-size:26px !important;
   }
   .css-176x8fc p:not(.customScale){
       font-size:20px !important;
   }
   .css-176x8fc li:not(.customScale){
       font-size:20px !important;
   }
   .css-176x8fc .customScale p, .css-176x8fc .customScale li, [data-css-176x8fc] .customScale li, .css-176x8fc .customScale h1, [data-css-176x8fc] .customScale h1, .css-176x8fc .customScale h2, [data-css-176x8fc] .customScale h2, .css-176x8fc .customScale h3, [data-css-176x8fc] .customScale h3, .css-176x8fc .customScale h4, [data-css-176x8fc] .customScale h4, .css-176x8fc .customScale h5, [data-css-176x8fc] .customScale h5, .css-176x8fc .customScale h6, [data-css-176x8fc] .customScale h6{
       font-size:inherit !important;
   }
}
@media only screen and (max-width: 800px){
   .css-176x8fc .hugeTitleFontSize h1:not(.customScale){
       font-size:48px !important;
   }
}
.css-2sn9gj h1,.css-2sn9gj h2,.css-2sn9gj h3,.css-2sn9gj h4,.css-2sn9gj h5,.css-2sn9gj h6{
   color:#1f3d75;
}
.css-1btsjij{
   background-color:#1f3d75 !important;
   border-radius:5px !important;
}
.css-1nikq7m{
   background-color:#e3e3e3;
}
.css-1afq80c:hover{
   color:#1f3d75 !important;
}
.css-jtdyb{
   background-color:#ffffff;
}
.css-irzfol{
   color:#323335;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-1w3zlin{
   background-color:rgba(75, 76, 81, 0.6034967754494426);
}
.css-414414{
   background-color:#FFFFFF !important;
   border-radius:0 !important;
}
.css-u90lw1{
   color:#4B4C51;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-1hwo033:hover{
   color:#4B4C51 !important;
}
.css-58f3af{
   background-color:#575757;
}
.css-1s1h13j{
   background-color:rgba(87, 87, 87, 0.6263806228373703);
}
.css-ifdwbf h1,.css-ifdwbf h2,.css-ifdwbf h3,.css-ifdwbf h4,.css-ifdwbf h5,.css-ifdwbf h6{
   color:#575757;
}
.css-18470u5:hover{
   color:#575757 !important;
}
.css-vnko57 h1,.css-vnko57 h2,.css-vnko57 h3,.css-vnko57 h4,.css-vnko57 h5,.css-vnko57 h6{
   color:#04477b;
}
.css-1ci0st1{
   background-color:#04477b;
}
.css-150f5wa{
   background-color:#f1695a;
}
.css-fz8li5{
   background-color:#FFFFFF !important;
   border-radius:25px !important;
}
.css-gdu29p:hover{
   color:#04477b !important;
}
.css-1b964rd h1,.css-1b964rd h2,.css-1b964rd h3,.css-1b964rd h4,.css-1b964rd h5,.css-1b964rd h6{
   color:#7a7a7a;
}
.css-10c9zsp{
   background-color:#7a7a7a !important;
   border-radius:5px !important;
}
.css-8isiam{
   background-color:#7a7a7a;
}
.css-1ne4bxx{
   background-color:#fbfb9b;
}
.css-1g64zgr{
   background-color:rgba(255, 255, 255, 0.8);
}
.css-1szn49g{
   background-color:#ede0d7;
}
.css-10zf88w{
   background-color:#9f9f9f;
}
.css-1o1fsa0{
   background-color:#3b5eac;
}
.css-q2nxa6{
   background-color:#000000;
}
.css-dna1tr:hover{
   color:#b2e2eb !important;
}
.css-17hp5py{
   background-color:#98cdb2;
}
.css-1sxfiya{
   min-height:calc(100vh - 80px);
}
.css-1xo07ii{
   background-color:rgba(0, 0, 0, 0.55);
}
.css-1x7ckm0 h1,.css-1x7ckm0 h2,.css-1x7ckm0 h3,.css-1x7ckm0 h4,.css-1x7ckm0 h5,.css-1x7ckm0 h6{
   color:#005c8a;
}
.css-1akz8dj{
   background-color:#005c8a !important;
   border-radius:0 !important;
}
.css-91p1tp:hover{
   color:#005c8a !important;
}
.css-gvvxh7{
   background-color:#060606;
}
.css-fufzeq{
   background-color:#c0c0c0;
}
.css-jkguzn h1,.css-jkguzn h2,.css-jkguzn h3,.css-jkguzn h4,.css-jkguzn h5,.css-jkguzn h6{
   color:#393939;
}
.css-nqlgwy{
   background-color:#393939 !important;
   border-radius:0 !important;
}
.css-kyf4yc:hover{
   color:#393939 !important;
}
.css-qymdfj{
   background-color:#e3ded7;
}
.css-1yzs5mo:hover{
   color:#f7b6cb !important;
}
.css-jv3bf7{
   background-color:#00275b;
}
.css-tgo2bb{
   background-color:rgba(0, 39, 91, 0.49755925696885817);
}
.css-3gu4y2 h1,.css-3gu4y2 h2,.css-3gu4y2 h3,.css-3gu4y2 h4,.css-3gu4y2 h5,.css-3gu4y2 h6{
   color:#00275b;
}
.css-1phzy3q:hover{
   color:#00275b !important;
}
.css-nslatw h1,.css-nslatw h2,.css-nslatw h3,.css-nslatw h4,.css-nslatw h5,.css-nslatw h6{
   color:#d0d4ca;
}
.css-18uaj2z:hover{
   color:#d0d4ca !important;
}
.css-1bvy0em{
   background-color:#0c131f;
}
.css-10j25qb:hover{
   color:#8ba5d2 !important;
}
.css-1n820ha{
   background-color:#e2e8e2;
}
.css-se2u2a{
   background-color:#f7f1f1;
}
.css-k90t27{
   background-color:#000000 !important;
   border-radius:0 !important;
}
.css-1os6a60{
   background-color:#a29674;
}
.css-1vqcffq{
   background-color:#ffdd7d;
}
.css-1mb8can{
   background-color:#8bc6c6;
}
.css-81d521 .hugeTitleFontSize h1:not(.customScale){
   font-size:56px !important;
}
.css-81d521 h1:not(.customScale){
   font-size:40px !important;
}
.css-81d521 h2:not(.customScale), .css-81d521 .smallTitleFontSize h1, [data-css-81d521] .smallTitleFontSize h1, .css-81d521 h1.smallTitleFontSize, [data-css-81d521] h1.smallTitleFontSize{
   font-size:28px !important;
}
.css-81d521 h3:not(.customScale), .css-81d521 h4:not(.customScale), [data-css-81d521] h4:not(.customScale), .css-81d521 h5:not(.customScale), [data-css-81d521] h5:not(.customScale), .css-81d521 h6:not(.customScale), [data-css-81d521] h6:not(.customScale){
   font-size:16px !important;
}
.css-81d521 li:not(.customScale){
   font-size:16px !important;
}
.css-81d521 p:not(.customScale){
   font-size:16px !important;
}
.css-81d521 .customScale p, .css-81d521 .customScale h1, [data-css-81d521] .customScale h1, .css-81d521 .customScale h2, [data-css-81d521] .customScale h2, .css-81d521 .customScale h3, [data-css-81d521] .customScale h3, .css-81d521 .customScale h4, [data-css-81d521] .customScale h4, .css-81d521 .customScale h5, [data-css-81d521] .customScale h5, .css-81d521 .customScale h6, [data-css-81d521] .customScale h6{
   font-size:inherit !important;
}
@media only screen and (max-width: 1280px){
   .css-81d521 h1:not(.customScale){
       font-size:32px !important;
   }
   .css-81d521 h2:not(.customScale), .css-81d521 .smallTitleFontSize h1, [data-css-81d521] .smallTitleFontSize h1, .css-81d521 h1.smallTitleFontSize, [data-css-81d521] h1.smallTitleFontSize{
       font-size:20px !important;
   }
   .css-81d521 h3:not(.customScale), .css-81d521 h4:not(.customScale), [data-css-81d521] h4:not(.customScale), .css-81d521 h5:not(.customScale), [data-css-81d521] h5:not(.customScale), .css-81d521 h6:not(.customScale), [data-css-81d521] h6:not(.customScale){
       font-size:14px !important;
   }
   .css-81d521 p:not(.customScale){
       font-size:14px !important;
   }
   .css-81d521 li:not(.customScale){
       font-size:14px !important;
   }
   .css-81d521 .customScale p, .css-81d521 .customScale li, [data-css-81d521] .customScale li, .css-81d521 .customScale h1, [data-css-81d521] .customScale h1, .css-81d521 .customScale h2, [data-css-81d521] .customScale h2, .css-81d521 .customScale h3, [data-css-81d521] .customScale h3, .css-81d521 .customScale h4, [data-css-81d521] .customScale h4, .css-81d521 .customScale h5, [data-css-81d521] .customScale h5, .css-81d521 .customScale h6, [data-css-81d521] .customScale h6{
       font-size:inherit !important;
   }
}
@media only screen and (max-width: 800px){
   .css-81d521 .hugeTitleFontSize h1:not(.customScale){
       font-size:36px !important;
   }
}
.css-1dk98i h1,.css-1dk98i h2,.css-1dk98i h3,.css-1dk98i h4,.css-1dk98i h5,.css-1dk98i h6{
   color:#0c131f;
}
.css-8e254v:hover{
   color:#0c131f !important;
}
.css-1ngobsd{
   color:#0c131f !important;
}
.css-106gqqo{
   background-color:#417575;
}
.css-8i3jul h1,.css-8i3jul h2,.css-8i3jul h3,.css-8i3jul h4,.css-8i3jul h5,.css-8i3jul h6{
   color:#15506e;
}
.css-19g1yxr{
   background-color:#15506e !important;
   border-radius:5px !important;
}
.css-1g07lsa:hover{
   color:#15506e !important;
}
.css-1kvmpxf{
   background-color:#FFD6B4;
}
.css-1opf0b1{
   background-color:#e5e9dd;
}
.css-hnzf2m{
   background-color:#b4b4b4;
}
.css-1g41reo:hover{
   color:#eae8e4 !important;
}
.css-xl02p1{
   background-color:#333333;
}
.css-1egy1gh:hover{
   color:#cccccc !important;
}
.css-1yetoaj{
   color:#cccccc !important;
}
.css-8tl8cy{
   background-color:#073B5E;
}
.css-1wknsqq{
   background-color:rgba(7, 59, 94, 0.5349922438200692);
}
.css-uvi49e h1,.css-uvi49e h2,.css-uvi49e h3,.css-uvi49e h4,.css-uvi49e h5,.css-uvi49e h6{
   color:#073B5E;
}
.css-16vv7f5{
   background-color:#F7F7F7;
}
.css-1x3fsvx{
   background-color:#073B5E !important;
   border-radius:5px !important;
}
.css-17afe85{
   background-color:rgba(247, 247, 247, 0.7996063052672049);
}
.css-e2f8mm{
   background-color:#3e8bfe;
}
.css-16y68ro{
   background-color:#457091;
}
.css-bd1ej0{
   background-color:rgba(62, 139, 254, 0.7024739188373703);
}
.css-1ps3tpw:hover{
   color:#ccb9a9 !important;
}
.css-14delnj{
   background-color:#FF5D56;
}
.css-tzlmmt{
   background-color:#464646;
}
.css-h8ft8o{
   background-color:transparent !important;
   border-radius:25px !important;
}
.css-1x0j6db{
   border-color:#FFFFFF !important;
}
.css-1vrbcxg{
   color:#dbb2b5;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-1sz9aut{
   background-color:#9c9c9c;
}
.css-x9ap8y{
   background-color:#dceeed;
}
.css-1kvf207{
   background-color:rgba(220, 238, 237, 0.7968869203168013);
}
.css-14n2a98{
   background-color:#a6a6a6;
}
.css-1w9dgex{
   background-color:#737373;
}
.css-nr65hf{
   background-color:rgba(166, 166, 166, 0.7512741253364091);
}
.css-uymrom{
   background-color:#f28e0b;
}
.css-gwx01g{
   background-color:#f1fbce;
}
.css-u7q9qs{
   background-color:transparent !important;
   border-radius:5px !important;
}
.css-1nyslin{
   border-color:#000000 !important;
}
.css-1st5hyz{
   background-color:#eae8e4;
}
.css-80rmw4{
   background-color:#c0a485;
}
.css-1u966bm{
   background-color:#556c72;
}
.css-emjt0g{
   background-color:#6d8d79;
}
.css-18obsnh{
   background-color:rgba(109, 141, 121, 0.7025745845198001);
}
.css-1i8c0tc h1,.css-1i8c0tc h2,.css-1i8c0tc h3,.css-1i8c0tc h4,.css-1i8c0tc h5,.css-1i8c0tc h6{
   color:#6d8d79;
}
.css-1u8y8ca{
   background-color:#0c131f !important;
   border-radius:5px !important;
}
.css-1yq9y1u{
   background-color:#dabca9;
}
.css-ink1am h1,.css-ink1am h2,.css-ink1am h3,.css-ink1am h4,.css-ink1am h5,.css-ink1am h6{
   color:#612338;
}
.css-6u5asf{
   background-color:#612338 !important;
   border-radius:5px !important;
}
.css-1f6bixk{
   background-color:#612338;
}
.css-obdj9k{
   background-color:#9df9eb;
}
.css-1fj5zj7 h1,.css-1fj5zj7 h2,.css-1fj5zj7 h3,.css-1fj5zj7 h4,.css-1fj5zj7 h5,.css-1fj5zj7 h6{
   color:#ffe693;
}
.css-hc3a2l{
   background-color:#ffe693 !important;
   border-radius:5px !important;
}
.css-7dbjz4:hover{
   color:#ffe693 !important;
}
.css-ayqod3 h1,.css-ayqod3 h2,.css-ayqod3 h3,.css-ayqod3 h4,.css-ayqod3 h5,.css-ayqod3 h6{
   color:#5e300e;
}
.css-1qg6mnd{
   background-color:#fed8a0;
}
.css-u7bq7m:hover{
   color:#5e300e !important;
}
.css-vrg32b{
   color:#5e300e !important;
}
.css-m44lbw h1,.css-m44lbw h2,.css-m44lbw h3,.css-m44lbw h4,.css-m44lbw h5,.css-m44lbw h6{
   color:#0C131F;
}
.css-wmc8b8{
   background-color:#0C131F;
}
.css-1fkfm5m{
   background-color:#99cd00;
}
.css-1ppjo72{
   background-color:#ffca2a;
}
.css-r4tq4i{
   background-color:#838383;
}
.css-ya4bw6{
   background-color:#f0d5af;
}
.css-1fn4y4z h1,.css-1fn4y4z h2,.css-1fn4y4z h3,.css-1fn4y4z h4,.css-1fn4y4z h5,.css-1fn4y4z h6{
   color:#142b57;
}
.css-eortvf{
   background-color:#142b57 !important;
   border-radius:5px !important;
}
.css-1lad4w2{
   background-color:#142b57;
}
.css-3tujal h1,.css-3tujal h2,.css-3tujal h3,.css-3tujal h4,.css-3tujal h5,.css-3tujal h6{
   color:#c76b6b;
}
.css-1vcicei{
   background-color:#c76b6b !important;
   border-radius:0 !important;
}
.css-13vky3l:hover{
   color:#c76b6b !important;
}
.css-1c58lsf{
   background-color:rgba(20, 43, 87, 0.5186526577716264);
}
.css-fhtzk8{
   background-color:#d1d3ca !important;
   border-radius:5px !important;
}
.css-j9nk1r{
   background-color:#424f8f;
}
.css-19he0yo:hover{
   color:#142b57 !important;
}
.css-129cv9m{
   background-color:#14bdef;
}
.css-ezajtf{
   background-color:rgba(20, 189, 239, 0.7244382279984622);
}
.css-mid8c2{
   background-color:#4d7783;
}
.css-5zqs3t{
   background-color:#96c5d3;
}
.css-hzziqw{
   background-color:rgba(150, 197, 211, 0.7694628905866975);
}
.css-1mwix15{
   color:#96c5d3;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-xsdqym{
   background-color:#e6e49b !important;
   border-radius:5px !important;
}
.css-go4cvq{
   border-color:#e6e49b !important;
}
.css-1ecvwcx:hover{
   color:#e6e49b !important;
}
.css-11qjj1a{
   color:#e6e49b !important;
}
.css-14yeplg{
   background-color:#ec0413;
}
.css-1243g4b{
   background-color:#643500;
}
.css-ga0ujl h1,.css-ga0ujl h2,.css-ga0ujl h3,.css-ga0ujl h4,.css-ga0ujl h5,.css-ga0ujl h6{
   color:#ca6b00;
}
.css-1x9qvwy{
   background-color:#ca6b00 !important;
   border-radius:5px !important;
}
.css-xj88p7 h1,.css-xj88p7 h2,.css-xj88p7 h3,.css-xj88p7 h4,.css-xj88p7 h5,.css-xj88p7 h6{
   color:#131313;
}
.css-1idalk9{
   background-color:#131313 !important;
   border-radius:5px !important;
}
.css-18faim9:hover{
   color:#131313 !important;
}
.css-gdpqz0 h1,.css-gdpqz0 h2,.css-gdpqz0 h3,.css-gdpqz0 h4,.css-gdpqz0 h5,.css-gdpqz0 h6{
   color:#999999;
}
.css-1vfoxhz:hover{
   color:#999999 !important;
}
.css-15pb3qf{
   color:#999999 !important;
}
.css-1e12epu{
   background-color:#ee643b;
}
.css-1fp27yp:hover{
   color:#ee643b !important;
}
.css-73pze{
   background-color:#371c6e;
}
.css-1bggl29 h1,.css-1bggl29 h2,.css-1bggl29 h3,.css-1bggl29 h4,.css-1bggl29 h5,.css-1bggl29 h6{
   color:#371c6e;
}
.css-1g2balq{
   background-color:rgba(55, 28, 110, 0.5298063376178394);
}
.css-gylad6{
   background-color:#3d8080;
}
.css-xzch6m{
   background-color:#371c6e !important;
   border-radius:5px !important;
}
.css-17jwdn0{
   background-color:#1e5b2f;
}
.css-1ci04mt{
   background-color:rgba(30, 91, 47, 0.5843018222222223);
}
.css-1nwigbg{
   background-color:#d7dfcb;
}
.css-166v5se h1,.css-166v5se h2,.css-166v5se h3,.css-166v5se h4,.css-166v5se h5,.css-166v5se h6{
   color:#0b0a0a;
}
.css-zfir6g{
   background-color:#0b0a0a;
}
.css-1p0b1hh{
   background-color:rgba(11, 10, 10, 0.43165810441522495);
}
.css-1xgb7sk:hover{
   color:#0b0a0a !important;
}
.css-93apjo{
   background-color:#ffc0f1;
}
.css-1apiyc0 h1,.css-1apiyc0 h2,.css-1apiyc0 h3,.css-1apiyc0 h4,.css-1apiyc0 h5,.css-1apiyc0 h6{
   color:#ffc0f1;
}
.css-hgkmh6{
   background-color:#ffc0f1 !important;
   border-radius:25px !important;
}
.css-8kyvc8{
   background-color:#ff27cf;
}
.css-1hoezdm{
   background-color:#f762d6;
}
.css-fkzzfr h1,.css-fkzzfr h2,.css-fkzzfr h3,.css-fkzzfr h4,.css-fkzzfr h5,.css-fkzzfr h6{
   color:#4b4c51;
}
.css-rht8uw{
   background-color:#c9f375;
}
.css-1j3z2x8{
   background-color:#f4810e;
}
.css-1047d89:hover{
   color:#4b4c51 !important;
}
.css-1y0gnir h1,.css-1y0gnir h2,.css-1y0gnir h3,.css-1y0gnir h4,.css-1y0gnir h5,.css-1y0gnir h6{
   color:#8ba5d2;
}
.css-10ymsz1 h1,.css-10ymsz1 h2,.css-10ymsz1 h3,.css-10ymsz1 h4,.css-10ymsz1 h5,.css-10ymsz1 h6{
   color:#00ff00;
}
.css-1jbic86{
   background-color:#00ff00 !important;
   border-radius:25px !important;
}
.css-11cp1cv{
   background-color:#00ff00;
}
.css-1oah9ec h1,.css-1oah9ec h2,.css-1oah9ec h3,.css-1oah9ec h4,.css-1oah9ec h5,.css-1oah9ec h6{
   color:#cecece;
}
.css-14rzsmv{
   background-color:#cecece !important;
   border-radius:5px !important;
}
.css-y0lqac:hover{
   color:#cecece !important;
}
.css-znvkgk{
   background-color:#597685;
}
.css-1v73u5v:hover{
   color:#0C131F !important;
}
.css-8kti3n{
   background-color:#d1fad1;
}
.css-wgiqh8{
   background-color:#e6e5e2;
}
.css-zylbdy{
   background-color:#646464 !important;
   border-radius:5px !important;
}
.css-4eucoz h1,.css-4eucoz h2,.css-4eucoz h3,.css-4eucoz h4,.css-4eucoz h5,.css-4eucoz h6{
   color:#333333;
}
.css-1maey8e{
   background-color:#343434;
}
.css-477zen{
   background-color:rgba(52, 52, 52, 0.5465036524413687);
}
.css-13cf8yy h1,.css-13cf8yy h2,.css-13cf8yy h3,.css-13cf8yy h4,.css-13cf8yy h5,.css-13cf8yy h6{
   color:#343434;
}
.css-1r2jzht{
   background-color:#343434 !important;
   border-radius:0 !important;
}
.css-11ny15p{
   background-color:transparent !important;
   border-radius:0 !important;
}
.css-13v9x4t{
   border-color:#343434 !important;
}
.css-5s73of{
   background-color:rgba(180, 180, 180, 0.7653979238754326);
}
.css-1yf8oh7 h1,.css-1yf8oh7 h2,.css-1yf8oh7 h3,.css-1yf8oh7 h4,.css-1yf8oh7 h5,.css-1yf8oh7 h6{
   color:#50351e;
}
.css-c84dco{
   background-color:#50351e !important;
   border-radius:5px !important;
}
.css-2g8br9{
   color:#50351e;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-1j3lfmi:hover{
   color:#50351e !important;
}
.css-1llu6p5{
   background-color:#747972;
}
.css-j1utv4{
   background-color:#1ba72f;
}
.css-nr3rpf{
   background-color:#050505;
}
.css-1booall{
   background-color:#383838;
}
.css-4k9n73 h1,.css-4k9n73 h2,.css-4k9n73 h3,.css-4k9n73 h4,.css-4k9n73 h5,.css-4k9n73 h6{
   color:#050505;
}
.css-xzq4tu{
   background-color:#a99272;
}
.css-ol21zs{
   background-color:#83aa8b;
}
.css-o7esf8{
   background-color:rgba(131, 170, 139, 0.7382450563629374);
}
.css-1136oc1{
   background-color:#6d8d79 !important;
   border-radius:5px !important;
}
.css-1e0pgrj{
   background-color:#cbcec5;
}
.css-zqr6x2{
   color:#6d8d79;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-d5eloq h1,.css-d5eloq h2,.css-d5eloq h3,.css-d5eloq h4,.css-d5eloq h5,.css-d5eloq h6{
   color:#7E3D39;
}
.css-6ntiro{
   background-color:#602D2D;
}
.css-1uaple0 h1,.css-1uaple0 h2,.css-1uaple0 h3,.css-1uaple0 h4,.css-1uaple0 h5,.css-1uaple0 h6{
   color:#ffebde;
}
.css-9so6qx{
   background-color:#ffebde;
}
.css-1ns4gwd{
   background-color:#e3c094;
}
.css-c7xag5{
   background-color:#bfc8d3;
}
.css-cn5vbt{
   background-color:#a6546c;
}
.css-zpppn8{
   background-color:#e30d0d;
}
.css-19nnvvs:hover{
   color:#ffbdbd !important;
}
.css-1b03oyo{
   background-color:#787878;
}
.css-qsd1pu{
   background-color:#929292;
}
.css-1vja9g4{
   background-color:#e1e1d6;
}
.css-1qkgnyy{
   background-color:#33c837;
}
.css-1a8qq8q{
   background-color:#4c1661;
}
.css-xq7ewj{
   background-color:#6d208a;
}
.css-1l0hc71{
   color:#aacba7;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-qg7lzj{
   background-color:#b9ffe8;
}
.css-tpb02s h1,.css-tpb02s h2,.css-tpb02s h3,.css-tpb02s h4,.css-tpb02s h5,.css-tpb02s h6{
   color:#484a53;
}
.css-wqew1h{
   background-color:#484a53 !important;
   border-radius:5px !important;
}
.css-1vdee06:hover{
   color:#484a53 !important;
}
.css-16ue43v{
   background-color:#8c7f6d;
}
.css-1jtd4u2{
   background-color:#c67300;
}
.css-1d8n70m{
   background-color:#f5e5d0;
}
.css-1ceglle{
   background-color:#073b5e;
}
.css-c8rajw h1,.css-c8rajw h2,.css-c8rajw h3,.css-c8rajw h4,.css-c8rajw h5,.css-c8rajw h6{
   color:#073b5e;
}
.css-1vo6040{
   background-color:#073b5e !important;
   border-radius:5px !important;
}
.css-1bct89h{
   background-color:#999999;
}
.css-r0xt14{
   background-color:#ffef4e;
}
.css-1cb9t6g h1,.css-1cb9t6g h2,.css-1cb9t6g h3,.css-1cb9t6g h4,.css-1cb9t6g h5,.css-1cb9t6g h6{
   color:#705b6e;
}
.css-stm53x{
   background-color:#bda7ba;
}
.css-1w0j0x8{
   background-color:#404040;
}
.css-15wxnbs{
   background-color:rgba(64, 64, 64, 0.5755878508266052);
}
.css-aa0z7q{
   background-color:#f6bf82;
}
.css-hqui0o{
   background-color:rgba(246, 191, 130, 0.7817225308358324);
}
.css-180xicq:hover{
   color:#f6bf82 !important;
}
.css-1c0kwok{
   background-color:#c5b1d2;
}
.css-yrzjh8 h1,.css-yrzjh8 h2,.css-yrzjh8 h3,.css-yrzjh8 h4,.css-yrzjh8 h5,.css-yrzjh8 h6{
   color:#c5b1d2;
}
.css-zb537f{
   background-color:#c5b1d2 !important;
   border-radius:5px !important;
}
.css-183ncx3 h1,.css-183ncx3 h2,.css-183ncx3 h3,.css-183ncx3 h4,.css-183ncx3 h5,.css-183ncx3 h6{
   color:#d0b6b3;
}
.css-1v8h06y:hover{
   color:#d0b6b3 !important;
}
.css-hahx1x{
   background-color:#484646;
}
.css-12l5cub{
   background-color:rgba(72, 70, 70, 0.5908244668727413);
}
.css-e5mlnv h1,.css-e5mlnv h2,.css-e5mlnv h3,.css-e5mlnv h4,.css-e5mlnv h5,.css-e5mlnv h6{
   color:#484646;
}
.css-36bwv4:hover{
   color:#484646 !important;
}
.css-agc7nq{
   background-color:#f5edfd;
}
.css-1eshtn6 h1,.css-1eshtn6 h2,.css-1eshtn6 h3,.css-1eshtn6 h4,.css-1eshtn6 h5,.css-1eshtn6 h6{
   color:#008fc3;
}
.css-17iruei{
   background-color:#008fc3 !important;
   border-radius:5px !important;
}
.css-1ldvpvy{
   background-color:#dad8ba;
}
.css-1nn1hcd{
   background-color:#f0ead7;
}
.css-1y86i3z{
   background-color:#cecece;
}
.css-1ms20tl{
   background-color:#ffecca;
}
.css-1vjzda2{
   background-color:rgba(255, 236, 202, 0.7981812039984622);
}
.css-jierr{
   background-color:#9cbac6;
}
.css-12grl5k{
   background-color:#ffeab0;
}
.css-qs34ry{
   background-color:#ff3401;
}
.css-1r5nncd{
   background-color:#cdc7b3;
}
.css-1m7e6cn{
   background-color:#4f4f4f;
}
.css-19pa3ra h1,.css-19pa3ra h2,.css-19pa3ra h3,.css-19pa3ra h4,.css-19pa3ra h5,.css-19pa3ra h6{
   color:#4f4f4f;
}
.css-8s9a2m{
   background-color:#7E3D39;
}
.css-bw9fq4{
   background-color:#DAD4C2 !important;
   border-radius:5px !important;
}
.css-1iz5idq{
   background-color:rgba(126, 61, 57, 0.6115657027850827);
}
.css-1c5i8ba{
   background-color:#C89F83;
}
.css-iv2izn{
   background-color:#b6b091;
}
.css-jxqw2j{
   background-color:#9a9a9a;
}
.css-cu84ql{
   background-color:#818181;
}
.css-tklbdj{
   background-color:rgba(129, 129, 129, 0.7023391003460209);
}
.css-1lgh289{
   background-color:#1f4c5b;
}
.css-qy8lxe h1,.css-qy8lxe h2,.css-qy8lxe h3,.css-qy8lxe h4,.css-qy8lxe h5,.css-qy8lxe h6{
   color:#d6d6d6;
}
.css-1lybo1h:hover{
   color:#d6d6d6 !important;
}
.css-yq0ggj{
   color:#d6d6d6 !important;
}
.css-u8uu1i h1,.css-u8uu1i h2,.css-u8uu1i h3,.css-u8uu1i h4,.css-u8uu1i h5,.css-u8uu1i h6{
   color:#000000;
}
.css-1ionpta h1,.css-1ionpta h2,.css-1ionpta h3,.css-1ionpta h4,.css-1ionpta h5,.css-1ionpta h6{
   color:#222324;
}
.css-41jqma{
   background-color:#222324;
}
.css-1436a5k{
   background-color:#1D2731;
}
.css-fuxy8o:hover{
   color:#073B5E !important;
}
.css-usmjyp{
   color:#073B5E;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-1t59nyw{
   background-color:#f7f323;
}
.css-c7l53j h1,.css-c7l53j h2,.css-c7l53j h3,.css-c7l53j h4,.css-c7l53j h5,.css-c7l53j h6{
   color:#e70004;
}
.css-i70j3d{
   border-radius:5px;
}
.css-l344io{
   background-color:#e70004 !important;
   border-radius:5px !important;
}
.css-1hxc5nh:hover{
   color:#e70004 !important;
}
.css-1d07l0t{
   color:#e70004;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-tfjjq5 h1,.css-tfjjq5 h2,.css-tfjjq5 h3,.css-tfjjq5 h4,.css-tfjjq5 h5,.css-tfjjq5 h6{
   color:#3d8080;
}
.css-8op581{
   background-color:#3d8080 !important;
   border-radius:0 !important;
}
.css-qveeww h1,.css-qveeww h2,.css-qveeww h3,.css-qveeww h4,.css-qveeww h5,.css-qveeww h6{
   color:#dfced3;
}
.css-149mjyv{
   background-color:#dfced3;
}
.css-1udut8j{
   background-color:#694550 !important;
   border-radius:5px !important;
}
.css-13ovt51{
   background-color:#dfced3 !important;
   border-radius:5px !important;
}
.css-1xb0prp:hover{
   color:#dfced3 !important;
}
.css-oq3ytq{
   background-color:rgba(205, 199, 179, 0.7803726677677817);
}
.css-76nnfk{
   background-color:#0C131F !important;
   border-radius:5px !important;
}
.css-xv8a63{
   background-color:#d9d9d9;
}
.css-b9dkjp{
   background-color:rgba(79, 79, 79, 0.6094517493271818);
}
.css-1qgeqs8{
   background-color:#4f4f4f !important;
   border-radius:0 !important;
}
.css-1dw75o1{
   background-color:#1c1c1c;
}
.css-11bz4yg{
   background-color:#5b6169;
}
.css-1j8wlz4{
   background-color:#a30400;
}
.css-tuvrjd:hover{
   color:#b8f4ae !important;
}
.css-1utsdl0{
   background-color:#4b4c51;
}
.css-mggmou{
   background-color:#842852;
}
.css-c86i1 h1,.css-c86i1 h2,.css-c86i1 h3,.css-c86i1 h4,.css-c86i1 h5,.css-c86i1 h6{
   color:#fc9003;
}
.css-q3d277{
   background-color:#666666;
}
.css-1x4sjxq{
   background-color:rgba(102, 102, 102, 0.6560000000000001);
}
.css-jlzfoq{
   background-color:rgba(12, 19, 31, 0.4552788888888889);
}
.css-xousvs{
   background-color:#C5D1EC !important;
   border-radius:5px !important;
}
.css-7ujji4{
   background-color:#C5D1EC;
}
.css-thgaju{
   background-color:#45528c;
}
.css-1on9o2b{
   background-color:#625e53;
}
.css-smh8py{
   background-color:#c8c4b9;
}
.css-1crgau2 h1,.css-1crgau2 h2,.css-1crgau2 h3,.css-1crgau2 h4,.css-1crgau2 h5,.css-1crgau2 h6{
   color:#a6a6a6;
}
.css-vvnz5u{
   background-color:#a6a6a6 !important;
   border-radius:5px !important;
}
.css-16dxat1{
   background-color:#95C6DC;
}
.css-16rldff{
   background-color:#FFEFE7;
}
.css-18f8en9{
   background-color:rgba(255, 239, 231, 0.7990951887181854);
}
.css-1k8x1gu h1,.css-1k8x1gu h2,.css-1k8x1gu h3,.css-1k8x1gu h4,.css-1k8x1gu h5,.css-1k8x1gu h6{
   color:#9e9e9e;
}
.css-1r49ys4:hover{
   color:#9e9e9e !important;
}
.css-1a9j1am{
   background-color:#636363;
}
.css-v2nuro{
   background-color:#990003;
}
.css-1ei0jad h1,.css-1ei0jad h2,.css-1ei0jad h3,.css-1ei0jad h4,.css-1ei0jad h5,.css-1ei0jad h6{
   color:#990003;
}
.css-wzs5je{
   background-color:#990003 !important;
   border-radius:5px !important;
}
.css-u7t6q9{
   color:#990003;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-1rj6ij8:hover{
   color:#990003 !important;
}
.css-15roilt:hover{
   color:#6d8d79 !important;
}
.css-gyoogv{
   color:#6d8d79 !important;
}
.css-l63ksj{
   background-color:#cdd4d4;
}
.css-o868mk h1,.css-o868mk h2,.css-o868mk h3,.css-o868mk h4,.css-o868mk h5,.css-o868mk h6{
   color:#504ACF;
}
.css-1uat3en{
   background-color:#7B74EA;
}
.css-1ialkjw{
   color:#a5a5a5;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-peb8xp h1,.css-peb8xp h2,.css-peb8xp h3,.css-peb8xp h4,.css-peb8xp h5,.css-peb8xp h6{
   color:#db1d55;
}
.css-erxhfv{
   background-color:#f9dfcb;
}
.css-dwofli{
   background-color:#91AED9;
}
.css-2uvc2u{
   background-color:rgba(234, 232, 228, 0.7967859244044599);
}
.css-1bksbi0{
   color:#d07b5b;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-1k3rl96{
   background-color:#ffcba3;
}
.css-16y2jxa{
   background-color:#0064ad;
}
.css-buw12h{
   background-color:#8197a8;
}
.css-8891hb:hover{
   color:#bcbcbc !important;
}
.css-j0bysy h1,.css-j0bysy h2,.css-j0bysy h3,.css-j0bysy h4,.css-j0bysy h5,.css-j0bysy h6{
   color:#dddddd;
}
.css-15d1zxg{
   background-color:#dddddd !important;
   border-radius:5px !important;
}
.css-19dtae2:hover{
   color:#dddddd !important;
}
.css-q98hi4{
   background-color:#f1d3e2;
}
.css-guazfs h1,.css-guazfs h2,.css-guazfs h3,.css-guazfs h4,.css-guazfs h5,.css-guazfs h6{
   color:#6ac6bc;
}
.css-jcfaqi{
   background-color:#c7e9ad;
}
.css-nsl3ss:hover{
   color:#6ac6bc !important;
}
.css-b5qjec{
   background-color:#364242;
}
.css-1agvib9{
   background-color:rgba(54, 66, 66, 0.5718407520553633);
}
.css-pxmn5a h1,.css-pxmn5a h2,.css-pxmn5a h3,.css-pxmn5a h4,.css-pxmn5a h5,.css-pxmn5a h6{
   color:#364242;
}
.css-xx400s{
   background-color:#364242 !important;
   border-radius:5px !important;
}
.css-ew191j{
   background-color:#e5d5c5;
}
.css-127gyvz{
   background-color:rgba(229, 213, 197, 0.790624396155325);
}
.css-1xvs03s{
   background-color:#cde0ee;
}
.css-8etd0{
   background-color:#ADA6CA;
}
.css-13k0cnm{
   background-color:rgba(173, 166, 202, 0.7578233798754326);
}
.css-c4jwul{
   color:#ADA6CA;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-19v9idm{
   background-color:#e82ccf;
}
.css-p85zgx{
   background-color:#fd710e;
}
.css-1aymlvx h1,.css-1aymlvx h2,.css-1aymlvx h3,.css-1aymlvx h4,.css-1aymlvx h5,.css-1aymlvx h6{
   color:#fd710e;
}
.css-26v68e{
   background-color:#488a90;
}
.css-qxaoz2{
   background-color:rgba(72, 138, 144, 0.6861385467128028);
}
.css-ctrj7j{
   background-color:#ffc472;
}
.css-1o55wj9{
   background-color:#F8F8F8;
}
.css-1s7uyp6{
   background-color:#fc9003;
}
.css-jmhvy{
   background-color:#b5b1af;
}
.css-ifgmp7{
   background-color:#ccb9a9;
}
.css-1i9geuc h1,.css-1i9geuc h2,.css-1i9geuc h3,.css-1i9geuc h4,.css-1i9geuc h5,.css-1i9geuc h6{
   color:#ccb9a9;
}
.css-jsajjp{
   background-color:#a68469;
}
.css-1ft1s9k{
   background-color:#f2ede9;
}
.css-8xhazs{
   background-color:rgba(242, 237, 233, 0.798230369728566);
}
.css-u7rleq{
   background-color:#f6f703;
}
.css-krm57{
   background-color:#fc9003 !important;
   border-radius:25px !important;
}
.css-1qtf8np:hover{
   color:#fc9003 !important;
}
.css-1sezept:hover{
   color:#dee4ec !important;
}
.css-vptdax{
   background-color:#d8d8d8;
}
.css-1eohr5b{
   background-color:rgba(216, 216, 216, 0.790643598615917);
}
.css-17ewwpr{
   background-color:#b3979e;
}
.css-yagv8m{
   color:#939393;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-7ulbu6{
   background-color:#5c78a1;
}
.css-1ocgt92{
   background-color:#b0fca4;
}
.css-11uk91u h1,.css-11uk91u h2,.css-11uk91u h3,.css-11uk91u h4,.css-11uk91u h5,.css-11uk91u h6{
   color:#b0fca4;
}
.css-lhnn5s{
   background-color:#ea8174;
}
.css-zqamri{
   background-color:#95b6d2;
}
.css-hnswlu{
   color:#95b6d2;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-4ekhc h1,.css-4ekhc h2,.css-4ekhc h3,.css-4ekhc h4,.css-4ekhc h5,.css-4ekhc h6{
   color:#636363;
}
.css-2vlz7d{
   background-color:#cfcdc4;
}
.css-1filxua{
   background-color:#72635d;
}
.css-1rz8rdf{
   background-color:#bfd1dc;
}
.css-15zor3y{
   background-color:#034152;
}
.css-tlc864 h1,.css-tlc864 h2,.css-tlc864 h3,.css-tlc864 h4,.css-tlc864 h5,.css-tlc864 h6{
   color:#94c7d6;
}
.css-16aozfr{
   background-color:#94c7d6 !important;
   border-radius:5px !important;
}
.css-1let0zp{
   border-color:#94c7d6 !important;
}
.css-8gt1g3:hover{
   color:#94c7d6 !important;
}
.css-b85su9{
   background-color:#8ba5d2;
}
.css-1hj9je0 h1,.css-1hj9je0 h2,.css-1hj9je0 h3,.css-1hj9je0 h4,.css-1hj9je0 h5,.css-1hj9je0 h6{
   color:#bce2ff;
}
.css-ql1hnp{
   background-color:#bce2ff;
}
.css-7f34uj{
   background-color:rgba(188, 226, 255, 0.7915531125813149);
}
.css-15mvjfz{
   background-color:#2d81c2;
}
.css-1af5m2w{
   background-color:#f74a00;
}
.css-1etvto5{
   background-color:#e9fe5f !important;
   border-radius:5px !important;
}
.css-ap8aff{
   border-color:#0c131f !important;
}
.css-zit7c9{
   background-color:#3d4554;
}
.css-1i5iqg8 h1,.css-1i5iqg8 h2,.css-1i5iqg8 h3,.css-1i5iqg8 h4,.css-1i5iqg8 h5,.css-1i5iqg8 h6{
   color:#99a9c4;
}
.css-1sugcc3{
   background-color:#99a9c4 !important;
   border-radius:5px !important;
}
.css-1aoeumh h1,.css-1aoeumh h2,.css-1aoeumh h3,.css-1aoeumh h4,.css-1aoeumh h5,.css-1aoeumh h6{
   color:#808080;
}
.css-1eoiyg3{
   background-color:#c9cdd1;
}
.css-cag0ld{
   background-color:rgba(201, 205, 209, 0.7841627214148406);
}
.css-c92kjo h1,.css-c92kjo h2,.css-c92kjo h3,.css-c92kjo h4,.css-c92kjo h5,.css-c92kjo h6{
   color:#eae8e4;
}
.css-yzv8jr{
   background-color:#eae8e4 !important;
   border-radius:0 !important;
}
.css-zrmf9l{
   background-color:#d7bd5d;
}
.css-wkyizt h1,.css-wkyizt h2,.css-wkyizt h3,.css-wkyizt h4,.css-wkyizt h5,.css-wkyizt h6{
   color:#d7bd5d;
}
.css-1bebtvu{
   background-color:#d7bd5d !important;
   border-radius:0 !important;
}
.css-12dlklo:hover{
   color:#d7bd5d !important;
}
.css-109irjt{
   background-color:#6c524c;
}
.css-ghiphs h1,.css-ghiphs h2,.css-ghiphs h3,.css-ghiphs h4,.css-ghiphs h5,.css-ghiphs h6{
   color:#6c524c;
}
.css-jfb4er{
   background-color:#bf9e92;
}
.css-1pu1krt h1,.css-1pu1krt h2,.css-1pu1krt h3,.css-1pu1krt h4,.css-1pu1krt h5,.css-1pu1krt h6{
   color:#020202;
}
.css-1emhkl{
   background-color:#020202 !important;
   border-radius:0 !important;
}
.css-pu06cn{
   color:#020202;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-1nvzty0:hover{
   color:#020202 !important;
}
.css-11upq3v{
   background-color:#bcc6d1;
}
.css-1yzrdax{
   background-color:#c0c796 !important;
   border-radius:5px !important;
}
.css-pnnt9k{
   background-color:#afe4ba;
}
.css-n40w4f{
   background-color:#575757 !important;
   border-radius:5px !important;
}
.css-h3f5qp{
   background-color:#9c9bac;
}
.css-1yvwpvm h1,.css-1yvwpvm h2,.css-1yvwpvm h3,.css-1yvwpvm h4,.css-1yvwpvm h5,.css-1yvwpvm h6{
   color:#2f1592;
}
.css-13p55jc{
   background-color:#2f1592 !important;
   border-radius:25px !important;
}
.css-xvevjw{
   background-color:#2f1592;
}
.css-w8o99s:hover{
   color:#2f1592 !important;
}
.css-1iz8xcu{
   color:#2f1592;
   transition:all .2s ease-in;
   -webkit-transition:all .2s ease-in;
   -moz-transition:all .2s ease-in;
}
.css-1rpd93i{
   background-color:#f7b6cb;
}
.css-1do5zho{
   background-color:#e3fad1;
}
.css-aiwwzh{
   background-color:#00c7ad;
}
.css-javhok h1,.css-javhok h2,.css-javhok h3,.css-javhok h4,.css-javhok h5,.css-javhok h6{
   color:#00c7ad;
}
.css-1ot92ox h1,.css-1ot92ox h2,.css-1ot92ox h3,.css-1ot92ox h4,.css-1ot92ox h5,.css-1ot92ox h6{
   color:#40384c;
}
.css-1iht1v8{
   background-color:#40384c !important;
   border-radius:5px !important;
}
.css-1j71rpp{
   background-color:#fc9003 !important;
   border-radius:5px !important;
}
.css-1ynt8mi{
   background-color:#364242 !important;
   border-radius:25px !important;
}
.css-1y20ib4:hover{
   color:#364242 !important;
}
.css-12u6ih9{
   background-color:#37445a;
}
.css-14lse7h{
   background-color:rgba(55, 68, 90, 0.5817045896747406);
}
.css-17jr51o{
   background-color:#95a8c8;
}
.css-1tvnob9{
   background-color:#59729e;
}
.css-1jwyyy7{
   background-color:rgba(89, 114, 158, 0.6733995559800077);
}
.css-1kzwesd{
   background-color:#17346b;
}
.css-9vd4ta h1,.css-9vd4ta h2,.css-9vd4ta h3,.css-9vd4ta h4,.css-9vd4ta h5,.css-9vd4ta h6{
   color:#17346b;
}
.css-y3p7c4{
   background-color:#e1bd9f;
}
.css-14ip4qb{
   background-color:rgba(225, 189, 159, 0.778835670366782);
}
.css-1cctjm{
   background-color:#bfe1fc;
}
.css-107tjh1 h1,.css-107tjh1 h2,.css-107tjh1 h3,.css-107tjh1 h4,.css-107tjh1 h5,.css-107tjh1 h6{
   color:#bfe1fc;
}
.css-1xpr8xa{
   background-color:#bfe1fc !important;
   border-radius:5px !important;
}
.css-2xxsr:hover{
   color:#4f4f4f !important;
}
.css-1d2bl1h{
   background-color:#39CBB3;
}
.css-abp8wb{
   background-color:#7CF5E1;
}
.css-8wf5jo{
   background-color:#ee2b04;
}
.css-7nxaic{
   background-color:#05b2ff;
}
.css-1r9uxfv{
   background-color:rgba(5, 178, 255, 0.7114939632387544);
}
.css-puqt3f h1,.css-puqt3f h2,.css-puqt3f h3,.css-puqt3f h4,.css-puqt3f h5,.css-puqt3f h6{
   color:#ee2b04;
}
.css-1xo2fht:hover{
   color:#83AA8B !important;
}
.css-11chfwr{
   background-color:#e1d6ca;
}
.css-1h48ue0{
   background-color:#18b9ce;
}
.css-zwicbw{
   background-color:#f7c923;
}
.css-181dyw0{
   background-color:rgba(247, 201, 35, 0.7784631209534795);
}
.css-14xxzq2{
   background-color:#b40063 !important;
   border-radius:5px !important;
}
.css-76g4t6 h1,.css-76g4t6 h2,.css-76g4t6 h3,.css-76g4t6 h4,.css-76g4t6 h5,.css-76g4t6 h6{
   color:#662843;
}
.css-3z2fym{
   background-color:#662843;
}
.css-j8w686 h1,.css-j8w686 h2,.css-j8w686 h3,.css-j8w686 h4,.css-j8w686 h5,.css-j8w686 h6{
   color:#4568d5;
}
.css-k4zb37{
   background-color:#4568d5;
}
.css-1eh6phw:hover{
   color:#f0db90 !important;
}
.css-igzz8v{
   background-color:#7e7a7f;
}
.css-1jrdzlh{
   background-color:#4c9e49;
}
.css-5l7llg{
   background-color:#5e4289;
}
.css-1ahqjb0{
   background-color:#399893;
}
.css-1f4tc19{
   background-color:#848484;
}
.css-1ib33x9{
   background-color:#2f5f98;
}
.css-1hvsepw h1,.css-1hvsepw h2,.css-1hvsepw h3,.css-1hvsepw h4,.css-1hvsepw h5,.css-1hvsepw h6{
   color:#2f5f98;
}
.css-1v773nt{
   background-color:#2f5f98 !important;
   border-radius:25px !important;
}
